version: '3.8'

services:
  kamigotchi-app:
    build: 
      context: .
      dockerfile: Dockerfile
    image: kamigotchi-app:latest
    container_name: kamigotchi-app
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=3000
    restart: unless-stopped
